body {
	
width:100%;	
font:62.5% Arial, Helvetica, sans-serif;
}


.page {
	
}
.content {
    background: none repeat scroll 0 0 #EBEBEB;
    margin-left: 155px;
    min-width: 875px;
    overflow: hidden;
}

ul {
padding:18px;	
}